<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Valutazione scuole italiane">
    <meta name="author" content="Carzacc">
    <title>Pagina di arrivo Vascit</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- Custom styles for this template --><!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108378671-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-108378671-1');
</script>
  <!-- Global site tag - Google Analytics -->
  

  </head>
    <body><nav class="navbar navbar-expand-md fixed-top">
          <a class="navbar-brand" href="/admin.html">Pannello Admin</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Torna alla Home <span class="sr-only">(current)</span></a>
              </li>
            </div>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="container">
          <div class="container">

<h1> IL PANNELLO ADMIN NON E' ANCORA ATTIVO</h1>
          </div>
        </main>

      </body>
